@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100px;
    height: 100px;
    margin: 50px auto;
}

.box1 {
    border: 5px solid red;
}

.box2 {
    border: 20px solid teal;
}

.box3 {
    width: 200px;
    height: 200px;
    background: skyblue;
    border-radius: 100px;
}

.box4 {
    width: 0;
    height: 0;

    /* border-top: 20px solid lightcoral;
    border-bottom: 20px solid orange;
    border-left: 20px solid blue;
    border-right: 20px solid royalblue; */

border: 20px solid;
border-color: red blueviolet green blue;

/* border-color: aliceblue red blueviolet tan;
border-width: 10px 30px 20px 40px;
border-style: solid dashed double dotted; */
}